*,*::before, *::after {
    box-sizing: border-box;
    Font-family: Arial, sans-serif;
}
body{
    font-family: Arial, sans-serif;
    background-color: #459eb1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#container {
    width: 800px;
    margin: 80px auto;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
#character-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
#character-buttons button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #9b26af;
    color: white;
    outline: none;
}
#character-buttons button:hover {
    background-color: #0e0310;
}